{% if cart and customer and shop.metafields.loyalty['stealth_mode'] == "false" %}
  <div class="points-form {% if hide_points_form %} hide {% endif %}" id="point-redemption-form">
    <input type="hidden" name="coupon[shop_domain]" value="{{ shop.domain }}">
    <input type="hidden" name="coupon[customer_id]" value="{{ customer.id }}">
    <input type="hidden" name="coupon[customer_hash]" value="{{ customer.id | append: shop.permanent_domain | append: "70a05b8bbbad99c2df85bc257bf6e23f" | md5 }}">

    <input type="hidden" name="redirect_route" data-loyal-target="redirect_url">

    {% assign max_redeemable = 0 %}
    {% for item in cart.items %}
      {% assign discountable = true %}
      {% for collection in item.product.collections %}
        {% if collection.handle == "easy-points-discount-exclusion" %}
          {% assign discountable = false %}
        {% endif %}
      {% endfor %}

      {% if discountable %}
        {% assign line_price = item.price | times: item.quantity %}
        {% assign max_redeemable = max_redeemable | plus: line_price %}
        <input type="hidden" name="coupon[product_ids][]" value="{{ item.product.id }}">
      {% endif %}
    {% endfor %}

    {% assign max_redeemable = max_redeemable | divided_by: 100 %}

    <input type="hidden" id="redemption-max-points" name="coupon[max_redeemable]" value="{{ max_redeemable }}">
    <input type="text" id="redemption-point-value" name="coupon[point_value]" value="0">
    <button type="button" class="btn" id="redemption_button">
      Redeem
    </button>
  </div>
{% endif %}
